:root {
    --heading-color: #673ab7;
    --spacing-compact: calc(var(--unit) * 2);
    --unit: 8px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #f6f5f4;
    font: normal 95% Helvetica, Verdana, Arial, sans-serif;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: var(--spacing-compact);
}

h3 {
    color: var(--heading-color);
    padding: var(--unit);
}
